@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* General setting of the basic elements */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #0E3040;
}

header,
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

header {
    background-color: #f8f7f1;
}

button {
    min-width: 2em;
    padding: 1em 3em;
    cursor: pointer;
    text-align: center;
    border-radius: 980px;
    background: #0E3040;
    color: #f8f7f1;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: #0E3040;
    color: #fff;
    padding: 4vh;
    font-size: 0.8rem;
}

/* Logo styling */

#logo {
    font-family: 'Gochi Hand', cursive;
    color: #0E3040;
    padding: 2vh 4vh;
}

#logo-container-link {
    flex-grow: 1;
}

/* Navigation links */

#navigation {
    display: flex;
    flex-grow: 3;
    justify-content: flex-end;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    padding: 2vh 4vh;
}

#menu li {
    font-weight: 500;
    list-style-type: none;
    margin: 0 1.2rem;
}

#menu a:hover {
    border-bottom: 1px solid #0E3040;
}

.active {
    border-bottom: 1px solid #0E3040;
}

@media only screen and (max-width: 1000px) {
    #menu {
        justify-content: space-evenly;
    }

    #logo-container-link {
        text-align: center;
    }

    #navigation {
        justify-content: center;
    }

}

@media only screen and (max-width: 600px) {
    #menu {
        flex-direction: column;
    }

    #menu li {
        padding: 0.5rem 0;
    }
}

/* Hero Image section */

.hero-image {
    height: 55vh;
    background: url(../images/patrick-hendry-jd0hS7Vhn_A-unsplash.jpg) no-repeat center center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

.hero-image-text {
    color: #fff;
    padding: 2rem;
    text-align: center;
    align-self: center;
}

/* General sections */

.darker-background-section {
    background-color: #f8f7f1;
}

.description-side {
    display: flex;
    flex: 35%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.description-side-larger {
    display: flex;
    flex: 65%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.description-side-text-left {
    text-align: left;
    margin: auto;
    width: 60%;
    padding: 2rem 0;
}

.description-side-text-right {
    text-align: right;
    margin: auto;
    width: 60%;
    padding: 2rem 0;
}

/* Video / Images specific classes */

.video-container {
    flex: 65%;
    padding: 6vw;
}

.video-container-full-width {
    flex: 100%;
    padding: 3vh 15vh;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-container {
    flex: 65%;
    padding: 6vw;
}

.image-container-small {
    flex: 35%;
    padding: 6vw;
}

img {
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .image-container-small {
        flex: 100%;
    }
}

/* Call to action sections */

.yellow-section {
    background-color: #eec049;
}

.call-to-action-description {
    display: flex;
    flex: 75%;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.call-to-action-text {
    text-align: left;
    width: 75%;
    padding: 5vh 0;
}

.call-to-action-button {
    display: flex;
    flex: 25%;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    margin: auto;
    width: 75%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.call-to-action-button button {
    background: #f26440;
}

.yellow-section-stack {
    background-color: #eec049;
    display: block;
}

.call-to-action-description-stack {
    display: block;
    margin: auto;
    text-align: center;
    padding: 2rem;
}

.call-to-action-button-stack {
    display: block;
    margin: auto;
    text-align: center;
}

.call-to-action-button-stack button {
    background: #f26440;
    margin: 0rem 2rem 2rem;
}

/* Paragraphs styles */

.justified-paragraph {
    text-align: justify;
    padding: 2vh 0;
}

.text-centered {
    text-align: center;
    padding: 4vh 2vh 2vh 2vh;
}

.full-width {
    clear: both;
    padding: 2vh 6vh;
    text-align: justify;
}

.three-columns-container {
    align-items: flex-start;
    padding: 2vh;
}

.three-columns-divs {
    flex-grow: 1;
    width: 33%;
    padding: 2vh 4vh;
    text-align: justify;
}

/* Types images sections */

.types-images-canine {
    min-height: 55vh;
    background: url(../images/michael-oxendine-t7wwffh6x8E-unsplash.jpg) no-repeat center center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}

.types-images-dolphins {
    min-height: 55vh;
    background: url(../images/tj-fitzsimmons-vQGwNgWl2Ew-unsplash.jpg) no-repeat center center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}

.types-images-equine {
    min-height: 55vh;
    background: url(../images/fabian-burghardt-A81818EFqGQ-unsplash.jpg) no-repeat center center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}

.types-images-pigs {
    min-height: 55vh;
    background: url(../images/kameron-kincade-uiH6OYDuR44-unsplash.jpg) no-repeat center center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}

.types-images-text {
    flex: 35%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #0E3040;
    padding: 2rem;
}

.empty-container-65 {
    flex: 65%;
}